<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My site</title>
        <link rel="stylesheet" type="text/css" href="/css/downloads.css">
        <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Nova+Square&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width initial-scale=0.1">
        <script type="text/javascript">
            window.onbeforeunload = function () {
    window.scrollTo(0,0);
};
        </script>
    </head>

    <body>
        <header>
            <div id="mywebpage">
                <p>My Webpage</p>
            </div>
            <section id="infoSection">
                <a href="../">Main Page</a>
            </section>
        </header>

        <section id="project">
            <table class="table">
            <tr>
                <th>Project Name</th>
                <th></th>
            </tr>
            <tr>
                <td>Assigment3 (Java Netbeans)</td>
                <td><a href="./downloadAssigment3" target="_blank">Download</a></td>
            </tr>
            <tr>
                <td>JavaApplication1 (Java Netbeans)</td>
                <td><a href="./downloadJA1" target="_blank">Donwload</a></td>
            </tr>
            <tr>
                <td>JavaApplication3 (Java Netbeans)</td>
                <td><a href="./downloadJA3" target="_blank">Donwload</a></td>
            </tr>
            <tr>
                <td>JavaGUIFinal (Java Netbeans)</td>
                <td><a href="./downloadJavaGUI" target="_blank">Donwload</a></td>
            </tr>
            <tr>
                <td>LastAssigmentCoreJava (Java Netbeans)</td>
                <td><a href="./downloadLastAssigmentCoreJava" target="_blank">Donwload</a></td>
            </tr>
            <tr>
                <td>Sale (Java Netbeans)</td>
                <td><a href="./donwloadSale" target="_blank">Donwload</a></td>
            </tr>
            <tr>
                <td>ServerApp (Java Netbeans)</td>
                <td><a href="./donwloadServerApp" target="_blank">Donwload</a></td>
            </tr>
            <tr>
                <td>DatabaseJava (Java Netbeans)</td>
                <td><a href="./donwloadDatabaseJava" target="_blank">Donwload</a></td>
            </tr>
            <tr>
                <td>Hibernate (Java Netbeans)</td>
                <td><a href="./donwloadHibernate" target="_blank">Donwload</a></td>
            </tr>
            </table>
        </section>

        <footer>
            <p>Created by Nikola Pudja</p>
            <img src="/icons/email.png" alt="emailIcon" id="email">
            <p>nikolapudja@gmail.com</p>
            <a href="https://www.linkedin.com/in/nikola-pu%C4%91a-57b07118b/">
                <img src="/icons/linkedin.png" alt="Linkedin" id="linkedin">
            </a>
        </footer>

    </body>
</html>
